# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.out.tmp

# Binaries
cmd/client/main
cmd/client/client
cmd/server/main
cmd/server/server
cmd/migrator/main
cmd/migrator/migrator

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

# Configs
config/migrator_client.yaml
config/migrator_server.yaml
config/server.yaml
config/client.yaml

# log
*.log

# client
client.db
__debug_bin*